body {
    background-image:url("Triumph_Hintergrund.jfif");
    background-size: cover;
    background-attachment: fixed;
    font-size: 20px;
}
figure.Titel {
    position: relative;
}
ul.Header {
    position: relative;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.Text1 {
    background-color: black;
    color: white;
    padding: 20px;
    width: 30%;
}
div.Text1 {
    position: relative;
    left: 20px;
}
footer {
    background-color: #000000;
    padding: 14px 30px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer{
    color: white;
}